.wrapper {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 40px 0px 0px;
}

.app-name {
  margin-left: 20px;
  flex: 3;
}

.user-space {
  display: flex;
  flex: 1;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-name {
  margin: auto;
  margin-left: 10px;
}
