.wrapper {
  min-height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 40px 0px 0px;
}

.app-name {
  margin-left: 20px;
}

.user {
  display: flex;
  align-items: center;
}
.user-ava {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
.user-info {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-right: 18px;
  font-size: 17px;
  border-right: 2px solid #ccc;
}
.user-info-balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: #999;
}
.balance-icon {
  font-size: 16px;
  color: #f9e938;
}

.logout-btn {
  margin-left: 25px;
  margin-right: 22px;
  padding: 6px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  transition: 0.2s;
}
.logout-btn:hover {
  cursor: pointer;
  color: #e00;
}

.login-btn {
  display: flex;
  align-items: center;
  margin-right: 27px;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #008cff;
  transition: 0.2s;
}
.login-btn:hover {
  cursor: pointer;
  background-color: #007aed;
}

@media (max-width: 550px) {
  .wrapper {
    border-radius: 0px;
  }
  .user-info,
  .user-ava {
    display: none;
  }
}
