.wrapper {
  height: 100%;
  width: 15vw;
  min-width: 140px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.logo {
  margin-top: 25px;
  width: 45%;
}

.pages {
  width: 100%;
}

.links {
  display: flex;
  width: 100%;
  height: 8.5vh;
  padding-left: 25%;
  margin-top: 5px;
  align-items: center;
  line-height: 40px;
  font-size: 17px;
  justify-content: left;
  color: rgb(219, 210, 210);
  background-color: transparent;
  cursor: pointer;
  transition: width 0.2s;
  box-sizing: border-box;
}

.links:hover {
  color: white;
  background-color: #252737;
}

.links.active {
  width: 110%;
  font-size: 18px;
  color: #008cff;
  background-color: #313245;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0px 0px 2px 5px rgba(34, 54, 85, 0.2);
}

.page-title {
  padding-left: 5px;
}

.help-btn {
  margin-bottom: 25px;
  font-size: 15px;
  color: rgb(219, 210, 210);
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.help-icon {
  font-size: 25px;
}

.help-btn:hover {
  color: #0071ce;
}
