.wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.wrapper .container {
  padding: 0px 20px 65px 20px;
  margin: 50px 3vw;
  background-color: #fff;
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(30, 50, 85, 0.03);
}

.wrapper .header {
  position: relative;
  top: -28px;
  margin: 0px 20px;
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.wrapper .content {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

.wrapper .file-area {
  flex: 2;
  position: relative;
}
.wrapper .file-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  gap: 10px;
}
.wrapper .file-upload {
  font-size: 15px;
  min-width: 400px;
}
.wrapper .drop_zone {
  height: 400px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.wrapper .choose-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.wrapper .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .list label {
  width: 120px;
}
.wrapper .list .input {
  font-size: 15px;
  padding: 8px;
  margin: 5px 0px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.wrapper .list .input:hover {
  background-color: #eee;
}
.wrapper .list input[type='number'] {
  cursor: text;
}

.wrapper .btn {
  font-size: 15px;
  background-color: dodgerblue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.wrapper .delete-btn {
  padding: 10px 14px;
  background-color: #f74939;
}
.wrapper .delete-btn:hover {
  background-color: #d03e31;
}

.wrapper .preview-btn {
  position: absolute;
  bottom: -45px;
  right: 0;
  padding: 8px 12px;
  background-color: transparent;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}
.wrapper .preview-btn:hover {
  background-color: #eee;
}

.wrapper .print-btn {
  padding: 10px 15px;
  position: absolute;
  bottom: -45px;
  right: 0;
}
.wrapper .print-btn:hover {
  background-color: rgb(25, 122, 219);
}

@media (max-width: 1000px) {
  .wrapper .drop_zone,
  .wrapper .preview-btn {
    display: none;
  }
  .wrapper .file-area {
    flex: 1;
  }
}

@media (max-width: 760px) {
  .wrapper .file-area {
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
  }
}
